[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LMMELSM"]
	path = LMMELSM
	url = https://github.com/stephensrmmartin/lmmelsm
[submodule "MIRES"]
	path = MIRES
	url = https://github.com/stephensrmmartin/mires
